@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Edu+TAS+Beginner:wght@400;500&family=Playfair+Display:ital,wght@1,500&family=Shadows+Into+Light&family=Yatra+One&display=swap');
:root{
    --PrimaryColor:hsl(199,100%,33%);
    --SecondaryColor:hsl(187,85%,43%);
    --gradientColor:linear-gradient(to right, hsl(187,85%,43%) , hsl(199,100%,33%));
    --whiteColor:hsl(0,0%,100%);
    --blackColor:hsl(201,33%,16%);
    --whiteColorDeam:hsl(0,0%,93%);
    --graytext:rgb(190,190,190);
    --inputColor:rgb(239,239,239);
    --bodyColor:rgb(240,240,246);
    --cardBG:rgb(225,225,235);
    --textColor:hsl(240,4%,36%);
    --cardHover:rgb(255,255,255)   
}
.email{
    padding-top: 100px;
}
.mybag{
    width: 100%;
    min-height: 500px;
}
.bag{
    padding-top: 100px;
    font-size:large;
    color: var(--textColor);
}
/* .bagimage{

} */